@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

:root {
    --white-color: #FFFFFF;
    --dark-blue-color: #112F41;
    --blue-color: #24A2B6;
    --green-color: #47AB6C;
    --yellow-color: #F2B134;
    --red-color: #ED553B;
}

* {
    font-family: 'Assistant', sans-serif;
    margin: 0;
    padding: 0;
    outline-color: var(--blue-color);
}

header {
    width: 100%;
    height: 160px;
}

div.logo {
    height: 120px;
    width: 300px;
    margin-left: 8%;
    float: left;
}

div.logo h1 {
    font-size: 35px;
    text-align: center;
    color: var(--dark-blue-color);
    font-family: 'Indie Flower', cursive;
}

div.hello_user {
    margin-right: 10%;
    padding-top: 7%;
    text-align: right;
    color: var(--dark-blue-color);
}

div.hello_user span {
    font-family: 'Indie Flower', cursive;
    font-size: large;
    font-weight: bold;
    color: var(--dark-blue-color);
}

.body-container {
    background-color: var(--blue-color);
    border-radius: 3px;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 2%;
}

#status_create,
#status_container {
    color: var(--dark-blue-color);
    background-color: var(--white-color);
    border-radius: 3px;
    width: 80% !important;
    margin: 0 auto;
    padding: 2%;
    text-align: center;
    /*todo: w ff po kliknięciu w  - #status_create textarea - dodaje się position: relative , ktory psuje kompozycje*/
}

div#status_create textarea {
    padding: 2%;
    margin-top: 1%;
    margin-bottom: 0;
    font-size: 15px;
    width: 56%;
    border: 1px solid var(--blue-color);
    border-radius: 3px;
}

div#status_create small {
    display: block;
    color: var(--dark-blue-color);
    padding: 0;
    margin-bottom: 2%;
}

#send {
    background-color: transparent;
    display: block;
    margin: 0 auto;
    padding: 1% 5%;
    font-size: 15px;
    color: var(--blue-color);
    border: 1px solid var(--blue-color);
    border-radius: 3px;
    transition-duration: 0.3s;
    outline-color: var(--blue-color);
}

#send:hover{
    background-color: var(--blue-color);
    color: var(--white-color);
    outline-color: var(--blue-color);
}

.hidden {
    display: none;
}

div.status_added {
    border: 1px solid var(--blue-color);
    border-radius: 3px;
    padding: 1%;
    margin: 1%;
}

div.author {
    height: 80px;
    position: relative;
    text-align: left;
    padding: 2% 7%;
}

.faUserIcon {
    font-size: 70px;
    color: var(--blue-color);
}

.dots {
    color: var(--blue-color);
    float: right;
}

.status_content {
    padding-top: 3%;
    word-break: break-word;
}

.author_name,
.status_data {
    display: inline-block;
    position: absolute;
    height: 70px;
    top: 50%;
    margin-top: -35px;
    margin-left: 5%;
    color: var(--blue-color);
}

.status_data {
    top: 80%;
}

.comment_panel {
    margin: 1% 10%;
    padding: 5% 5%;
    text-align: center;
}

.comment_button, .comment_button:disabled {
    outline-color: var(--blue-color);
    border: 1px solid var(--blue-color);
    background-color: transparent;
    width: 50%;
    text-align: center;
    margin: 7% 1% 1% 1%;
    padding: 1% 5%;
    font-size: 15px;
    color: white;
    border-radius: 3px;
    transition-duration: 0.4s;
}

.comment_button * {
    color: var(--blue-color);
    padding: 1%;
}

.comment_button:hover {
    background-color: var(--blue-color);
    outline-color: var(--blue-color);
}

.comment_button:focus {
    outline-color: var(--blue-color);
}
.comment_button:hover * {
    color: var(--white-color);
}

.btn-right {
    margin-right: 49% ;
}

.btn-left {
    margin-left: 49%;
}

.btn-left:disabled {
    margin-left: 49%;
}

textarea.comment_create {
    padding: 2%;
    font-size: 15px;
    border: 1px solid var(--blue-color);
    border-radius: 3px;
    width: 76%;
    margin: 2% auto;
    text-align: left;
    resize: none;
}

textarea.comment_edit {
    font-size: small;
    border: 1px dotted var(--blue-color);
    border-radius: 3px;
    width: 76%;
    text-align: left;
    resize: none;
}

div.comment_list {
    /*border: 1px dotted var(--blue-color);*/
    border-radius: 3px;
    width: 76%;
    margin: 0 auto;
    padding: 2%;
    text-align: left;
    color: var(--blue-color);
}

div.comment_list p {
    padding: 0;
    margin-top: 0;
    margin-bottom: 3%;
}

div.comment_list span {
    color: var(--dark-blue-color);
    font-size: small;
    word-break: break-word;
}









